<%- include('header') -%>


<div class="container container-admin">
    <div class="row">
        <h1>Admin Page &nbsp;&nbsp;</h1>
        <form action="/admin/logout" method="post">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <form action="/admin/scoreboard" method="get">
            <button type="submit" class="btn btn-primary">Scoreboard</button>
        </form>
        <div>
            <h3>No of participants are = <%= noOfParticipants %> </h3>
        </div>
    </div>
</div>


<%- include('footer') -%>